@import "~bootstrap/scss/bootstrap";

$primary: #383838;
$primary-text: #aaaaaa;

body {
  background-color: $primary;
  color: $primary-text
}

.input {
    min-height: 40px;
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid gray;
}

button {
    min-height: 40px;
    width: 150px;
}

#info {
    width: fit-content
}

#form {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
}

#chartContainer {
    height: 400px;
    width: 600px;
}